<head>
    <title>TEst</title>
</head>
<body>
<script src="../static/js/bots.js"></script>
    <form id="pair_input_form"  method="POST">
      <div class="form-group">
        <label for="keylabel">Key Label</label>
        <input
          class="form-control"
          id="keylabel"
          name="keylabel"
          placeholder="Enter label"
        />
      </div>
      <div class="form-group">
        <label for="public_key">Public key</label>
        <input
          class="form-control"
          id="public_key"
          name="public_key"
          placeholder="Enter public"
        />
      </div>
      <div class="form-group">
        <label for="secret_key">Secret key</label>
        <input
          class="form-control"
          id="secret_key"
          name="secret_key"
          placeholder="Enter secret"
        />
      </div>
      <br />
      <button type="submit" id="submit_keys" class="btn btn-primary">Submit</button>
    </form>
</body>